In [1]:
from sklearn import datasets

In [2]:
boston = datasets.load_boston()
#print(type(boston))         #Bunch - contains data,target,feature_names ,DESCR and filename
#boston

In [3]:
X = boston.data
y = boston.target

In [4]:
import pandas as pd
df = pd.DataFrame(X)
df.columns = boston.feature_names    
#df.describe()

In [5]:
df["AGE_AGE"] = df["AGE"]**2
#print(df.columns)
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,AGE_AGE
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,5493.309545
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,3449.600164
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,8.410000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,2027.252500
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,6006.290000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,8850.107500
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,10000.000000

In [6]:
print(X.shape)
X2 = df.values
X2.shape

(506, 13)

(506, 14)

In [7]:
from sklearn import model_selection
X_train, X_test , y_train, y_test = model_selection.train_test_split(X,y,random_state=0)
X2_train, X2_test , y2_train, y2_test = model_selection.train_test_split(X2,y,random_state=0)

In [8]:
from sklearn.linear_model import LinearRegression
alg1 = LinearRegression()
alg2 = LinearRegression()

In [9]:
alg1.fit(X_train,y_train)
alg2.fit(X2_train,y2_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [10]:
#y_pred = alg1.predict(X_test)

train_score = alg1.score(X_train,y_train)
test_score = alg1.score(X_test,y_test)

print("Training Score without AGE_AGE : " , train_score)
print("Testing Score without AGE_AGE: " , test_score)


train_score2 = alg2.score(X2_train,y2_train)
test_score2 = alg2.score(X2_test,y2_test)

print("Training Score with AGE_AGE : " , train_score2)                #Both Increased
print("Testing Score with AGE_AGE : " , test_score2)

Training Score without AGE_AGE :  0.7697699488741149
Testing Score without AGE_AGE:  0.6354638433202129
Training Score with AGE_AGE :  0.7707245449911091
Testing Score with AGE_AGE :  0.6433109272342966

In [11]:
c=0
initial_columns = df.columns
for a in initial_columns:
    for b in initial_columns:
        if((b+"_"+a) not in df.columns):
            df[a+"_"+b] = df[a]*df[b]
            c+=1                                          #14*14=196  /2 = 98
            print(c,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104

In [12]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       ...
       'PTRATIO_PTRATIO', 'PTRATIO_B', 'PTRATIO_LSTAT', 'PTRATIO_AGE_AGE',
       'B_B', 'B_LSTAT', 'B_AGE_AGE', 'LSTAT_LSTAT', 'LSTAT_AGE_AGE',
       'AGE_AGE_AGE_AGE'],
      dtype='object', length=118)

In [13]:
df.values.shape

(506, 118)

In [14]:
X3 = df.values[:,:117]
y3 = df.values[:,117]
print(X3.shape)
print(y3.shape)

(506, 117)
(506,)

In [15]:
X3_train , X3_test , y3_train, y3_test = model_selection.train_test_split(X3,y3,random_state=0)

In [16]:
alg3 = LinearRegression()
alg3.fit(X3_train,y3_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [17]:
train_score3 = alg3.score(X3_train,y3_train)
test_score3 = alg3.score(X3_test,y3_test)

print("Training Score with all features : " , train_score3)
print("Testing Score with all features : " , test_score3)

Training Score with all features :  0.9999498344230793
Testing Score with all features :  0.9998404935608832